[Unit]
Description=Setup foo
After=network.target virtualbox-guest-utils.service

[Service]
User=root
Group=root
Type=oneshot
ExecStart=/media/sf_init/init.sh
RemainAfterExit=true
ExecStop=/media/sf_init/init.sh
StandardOutput=journal
RestartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target

